body {
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

/* Flex */

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    display: flex;
    align-items: center;
}

.ai-start {
    align-items: flex-start;
}

.ai-end {
    align-items: flex-end;
}

.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.jc-start {
    justify-content: flex-start;
}

.jc-end {
    justify-content: flex-end;
}

.fg-1 {
    flex-grow: 1;
}

.w-100 {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.w-no-wrap {
    white-space: nowrap;
}

/* Margins and Paddings */

.gap-05 {
    gap: .5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.mt-auto {
    margin-top: auto;
}

.mt-05 {
    margin-top: .5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mr-auto {
    margin-right: auto;
}

.mr-05 {
    margin-right: .5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mb-auto {
    margin-bottom: auto;
}

.mb-05 {
    margin-bottom: .5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.ml-auto {
    margin-left: auto;
}

.ml-05 {
    margin-left: .5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.pt-05 {
    padding-top: .5rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-3 {
    padding-top: 3rem;
}

.pr-05 {
    padding-right: .5rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pr-3 {
    padding-right: 3rem;
}

.pb-05 {
    padding-bottom: .5rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pl-05 {
    padding-left: .5rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pl-3 {
    padding-left: 3rem;
}

.card-container {
    width: 275px;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2rem;
}

.blue-container {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
}

.white-container {
    align-self: stretch;
}

.circle-container {
    border-radius: 100%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 130px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
}

.h-100vh {
    height: 100vh;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.ta-center {
    text-align: center;
}

.big {
    font-size: 1.52rem;
}

.bigger {
    font-size: 2rem;
}

.biggest {
    font-size: 3rem;
}

.pale-blue {
    color: hsl(221, 100%, 96%);
}

.light-lavender {
    color: hsl(241, 100%, 89%);
}

.dark-gray-blue {
    color: hsl(224, 30%, 27%);
}

.light-red {
    color: hsl(0, 100%, 67%);
}

.orange-yellow {
    color: hsl(39, 100%, 56%);
}

.green-teal {
    color: hsl(166, 100%, 37%);
}

.cobalt-blue {
    color: hsl(234, 85%, 45%);
}

.p-2 {
    padding: 2rem;
}

.floating-of {
    position: absolute;
    margin-top: 70px;
}

.button {
    cursor: pointer;
    color: white;
    background: #313A5A;
    padding: 0.75rem 0;
    border-radius: 100px;
    text-align: center;
}

.button:hover {
    filter: brightness(1.1);
}

.progress-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    border-radius: 5px;
}

.progress-card-red {
    background: #FFF6F5;
}

.progress-card-yellow {
    background: #FFFBF2;
}

.progress-card-green {
    background: #F2FAFA;
}

.progress-card-blue {
    background: #F3F3FD;
}

.cards-container {
    border-radius: 30px;
    box-shadow: 5px 7px 15px -7px hsl(234, 85%, 45%, 0.3);
}

.grey {
    color: #7C7E8B;
}

@media only screen and (max-width: 600px) {
    .cards-container {
        flex-direction: column;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        pointer-events: none;
        position: static;
        transform: none;
    }

    .card-container {
        padding: 1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: 100%;
    }

    .blue-container {
        height: 45vh;
        padding-bottom: 2rem;
    }

    .white-container {
        padding: 2rem;
        height: 55vh;
    }

    .progress-cards {
        height: 100%;
    }
    
    .progress-card {
        padding: 1rem;
    }


    .attribution {
        position: absolute;
        bottom: 10px;
        text-align: center;
        width: 100%;
    }
}