@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --border-radius: 10px;
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --blackish: hsl(0, 0%, 0%, 75%);
    --bigImage-size: min(30vw, 550px);
    --thumbanils-size: 5vw;
}

body {
    font-size: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    margin: 1rem 10vw;
    overflow: hidden;
}

@media (max-width:800px)  {
    body {
        margin: 1rem 5vw;
    }
}

#nav-closer {
    display: none;
}

#hamburger {
    display: none;
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px #ccc;
}

#logo {
    cursor: pointer;
    margin-bottom: 0.25rem;
}

nav {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 2vw;
    /* gap: 2rem; TODO: find out why it doesn't work */
}
nav > div {
    cursor: pointer;
    position: relative;
}

nav div:hover {
    font-weight: 700;
}
nav div:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: -2.65rem;
    height: 3px;
    background: var(--orange);
}

#user-menu {
    display: flex;
    align-items: center;
    position: relative;
}

#avatar{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: 3rem;
}

#avatar:hover {
    box-sizing: border-box;
    transform: scale(1.1);
    border-radius: 100%;
    border: 2px solid var(--orange);
}

#user-menu > img {
    cursor: pointer;
}

main {    
    display: flex;
    justify-content: center;
    margin: 6rem 0;
    gap: 8vw;
}

#bigImage {
    width: var(--bigImage-size);
    height: var(--bigImage-size);
    object-fit: cover;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.big-image-arrow {
    display: none;
}

.thumbnails-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 3vw;
    justify-content: center;
}

.thumbnail {
    cursor: pointer;
    width: var(--thumbanils-size);
    height: var(--thumbanils-size);
    border-radius: var(--border-radius);
}

.thumbnail:not(.active):hover {
    filter: contrast(.3) brightness(1.5);
}

.thumbnail.active {
    box-sizing: border-box;
    filter: contrast(.3) brightness(1.5) drop-shadow(0px 0px 1px var(--orange)) drop-shadow(0px 0px 1px var(--orange)) drop-shadow(0px 0px 1px var(--orange)) drop-shadow(0px 0px 1px var(--orange));
}

.thumbnail:last-child {
    margin-right: 0;
}

#product-info {
    display: flex;
    flex-direction: column;
    width: min(30vw, 500px);
    gap: 2rem;
}

#brand {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--orange);
}

#title {
    font-size: 2.5rem;
    font-weight: 700;
}

#description {
    color: var(--dark-grayish-blue);
}

#prices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#prices-container div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

#price {
    font-size: 2rem;
    font-weight: 700;
}

#discount {
    color: var(--orange);
    background: var(--pale-orange);
    padding: 0.25rem 0.5rem;
    border-radius: var(--border-radius);
    font-weight: 700;
}

#full-price {
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}

#buttons-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#quantityButtons {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    background: var(--light-grayish-blue);
    border-radius: var(--border-radius);
    font-weight: 700;
    margin-bottom: 1rem;
}

.quantity-button {
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    font-size: 2rem;
    color: var(--orange);
    cursor: pointer;
    user-select: none;
}

#quantity {
    caret-color: var(--orange);
    text-align: center;
    outline: none;
    border: none;
    width: 2rem;
    padding: 0 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 0.25rem;
    background: transparent;
}

#addButton {
    background: var(--orange);
    margin-bottom: 1rem;
    color: white;
    padding: 1rem 0.5vw;
    max-width: 17vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    flex-grow: 1;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0 10px 20px -10px var(--orange);
}

#addButton img {
    filter: brightness(3);
    margin-right: 1rem;
}

#addButton:hover {
    filter: brightness(1.1);
}

#gallery {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 1rem 1rem;
    box-sizing: border-box;
    overflow: hidden;
    background:var(--blackish);
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#gallery-thumbnails {
    display: flex;
    flex-direction: column;
}

#galleryImage {
    max-width: min(85vw, 67vh);
    max-height: min(85vw, 67vh);
    object-fit: cover;
    border-radius: var(--border-radius);
}

#gallery .thumbnail {
    object-fit: cover;
    max-width: 125px;
    max-height: 125px;
    width: 19vw;
    height: 19vw;
}

.closer {
    width: 20px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: 2rem;
    cursor: pointer;
    color: white;
}

.closer:hover {
    filter: invert(73%) sepia(58%) saturate(5818%) hue-rotate(348deg) brightness(103%) contrast(101%);
}

#nav-closer {
    margin: 1rem 0 2rem 0;
}

#gallery-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-arrow-container {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding: 1rem;
    background: white;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.gallery-arrow {
    object-fit: contain;
}

.gallery-arrow-container:hover .gallery-arrow {
    filter: invert(73%) sepia(58%) saturate(5818%) hue-rotate(348deg) brightness(103%) contrast(101%);
}

.gallery-arrow-container:nth-child(1) {
    margin-right: -1.5rem;
}

.gallery-arrow-container:nth-child(3) {
    margin-left: -1.5rem;
}

#quantityErrorMessage {
    display: none;
    margin-top: -1rem;
}

#checkoutButton {
    margin-top: 1rem;
    display: none;
    background: var(--orange);
    color: white;
    padding: 1rem 0.5vw;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    flex-grow: 1;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0 10px 20px -10px var(--orange);
}

#cart {
    display: none;
    position: absolute;
    background: white;
    top: 3rem;
    margin-left: calc(-20rem + 10vw);
    min-width: 250px;
    min-height: 150px;
    border-radius: var(--border-radius);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    flex-direction: column;
}

#cart-title {
    padding: 1rem 1.5rem;
    font-weight: 700;
    border-bottom: 2px solid var(--light-grayish-blue);
}

#cart-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 1.5rem;
}

#emptyCartMessage {
    color: var(--dark-grayish-blue);
}

#cart-image {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius);
}

#cart-info {
    display: flex;
    gap: 1rem;
    white-space: nowrap;
}

#deleteCartProduct {
    object-fit: contain;
    cursor: pointer;
}

#cartCounter {
    display: none;
    position: absolute;
    top: 0.25rem;
    left: 0.75rem;
    background: var(--orange);
    border-radius: 1rem;
    width: 1.5rem;
    height: 1rem;
    align-items: center;
    justify-content: center;
    color: white;
    pointer-events: none;
    z-index: 1;
}

.attribution {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    text-align: center;
}

.attribution a {
    color: black;
}

.greyish {
    color: var(--dark-grayish-blue);
}

.flex-gap-1 {
    display: flex;
    gap: 1rem;
}

.flex-column-gap-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.flex-column-gap-05 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ai-center {
    align-items: center;
}

.pe-none {
    pointer-events: none;
}


@media (max-width:680px)  {
    body {
        margin: 0;
        overflow-y: auto;
    }

    header {
        border-bottom: none;
        padding: 1rem 1.5rem;
        gap: 2rem;
    }

    nav {
        position: absolute;
        top: 0;
        left: -60vw;
        z-index: 10;
        width: 60vw;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: white;
        height: 100vh;
        gap: 1rem;
        box-sizing: border-box;
        margin-left: 0;
        padding-left: 1rem;
        font-weight: 700;
        font-size: 1.25rem;
        z-index: 3;
    }

    #nav-closer {
        display: flex;
    }

    #hamburger {
        display: flex;
        cursor: pointer;
        width: 4vw;
    }

    #hamburger:hover {
        filter: invert(73%) sepia(58%) saturate(5818%) hue-rotate(348deg) brightness(103%) contrast(101%);
    }

    #user-menu {
        margin-left: auto;
    }

    @keyframes open-menu {
        from {
            left: -60vw;
        }
        to {
            left: 0;
        }
    }

    @keyframes close-menu {
        from {
            left: 0;
        }
        to {
            left: -60vw;
        }
    }
 
    nav div:hover::after {
        content: '';
        left: 0;
        bottom: 2.5rem;
        width: 100%;
        height: 3px;
        background: var(--orange);
    }
    
    #logo {
        width: 200px;
    }

    #avatar {
        margin-left: 2rem;
    }

    #cartButton {
        filter: contrast(500);
    }

    #hider {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(0 0 0 / 0.7);
        z-index: 2;
    }

    main {
        flex-direction: column;
        margin: 0;
    }

    #thumbnails {
        width: 100%;
    }

    #bigImage {
        width: 100%;
        height: 70vw;
        border-radius: 0;
    }

    .gallery-arrow-container {
        width: 10px;
        height: 10px;
    }
    
    .big-image-arrow {
        position: absolute;
        /* position: absolute; */
        margin-top: 30vw;
        display: flex;
        z-index: 0;
    }

    #big-image-previous-button {
        left: 1rem;
    }

    #big-image-next-button {
        right: 1rem;
    }

    /* // TODO: change id name, it makes no sense, more like 'image-section' */
    #thumbnails {
        display: flex; 
        flex-direction: row;
    }

    #thumbnails .thumbnails-container {
        display: none;
    }

    #product-info {
        padding: 0 2rem;
        gap: 1rem;
        display: flex;
        box-sizing: border-box;
        width: 100%;
    }

    #title {
        font-size: 2rem;
    }

    #prices-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    #prices-container > div:first-child {
        margin: 0;
    }

    #description {
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }

    #quantityButtons {
        width: 100%;
        margin-right: 0;
    }

    #quantity {
        flex-grow: 1;
    }

    #addButton {
        max-width: unset;
        width: 100%;
    }

    footer {
        display: none;
    }

    #cart {
        z-index: 2;
        top: 70px;
        left: -40vw;
        width: 92vw;
        height: 220px;
    }

    #checkoutButton {
        margin-top: auto;
        flex-grow: 0;
    }
}