@font-face {
    font-family: barlow-semi-condensed;
    src: url('./BarlowSemiCondensed-SemiBold.ttf');
}

body {
    background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    margin: 0;
    height: 100vh;
    font-family: barlow-semi-condensed;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 30%);
    padding: 1rem 1rem;
    margin: 2rem 0;
    border: solid 2px hsl(217, 16%, 45%);
    border-radius: 10px;
}

#score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem 2.5rem;
}

#score :first-child {
    color: hsl(229, 64%, 46%);
    font-weight: 600;
}

#score :last-child {
    color: hsl(229, 25%, 31%);
    font-size: 3rem;
    font-weight: 700;
}

#hands {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    column-gap: 3rem;
    place-items: center;
}

.hand {
    cursor: pointer;
    width: 60px;
    text-align: center;
    aspect-ratio: 1;
    border: solid 1rem transparent;
    border-radius: 100%;
    padding: 1rem;
    box-shadow: inset 0 4px 3px #BABFD3;
}

.hand-paper {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%)) border-box;
             
    /* background-image: url('./images/icon-paper.svg'); */
    /* background-size: cover;
    background-clip: content-box; */
}
.hand-paper img {
    margin-right: 1px;
}
.hand-paper::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 10px;
    background: #17223D;
    z-index: -1;
    margin-top: 30px;
}

.hand-scissors {
    background: linear-gradient(white, white) padding-box,
                linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%)) border-box;
}
.hand-scissors::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 10px;
    background: #17223D;
    z-index: -1;
    margin-top: 110px;
    margin-left: -120px;
    transform: rotate(120deg);
}


.hand-rock {
    grid-column: span 2;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%)) border-box;
}
.hand-rock::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 10px;
    background: #17223D;
    z-index: -1;
    margin-top: -25px;
    margin-left: -120px;
    transform: rotate(60deg);
}

.hand-rock img {
    margin-top: 10px;
    margin-right: 1px;
}

#battle {
    margin-top: 2rem;
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 30vw;
    color: white;
    text-align: center;
}

.battle-choice {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hand-big {
    transform: scale(1.5);
}
.hand-big:after {
    content: none;
}


.attribution {
    color: white;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center; 
}
.attribution a { 
    color: white 
}